<mat-card>
  <mat-card-title>Développeurs: à table !</mat-card-title>
  <mat-card-subtitle>qui mange bien code mieux</mat-card-subtitle>
  <!-- property binding with "[]", string interpolation with "{{}}" -->
  <img mat-card-image [src]="pasta" alt='Une crèpe'>
  <mat-card-content>
    <p>
      Entre deux séances de dév : un bon plat et une bonne boisson s'imposent.
      Qu'il s'agissent de manger sur le pouce et de prendre le temps, la "tablée du développeur" saura vous satisfaire.
    </p>
    </mat-card-content>
</mat-card>
